<section class="relative mb-6 h-80 flex justify-center items-center">
    <div class="absolute w-full h-full overflow-hidden">
        <video
            poster=""
            autoplay= "autoplay"
            muted= "muted"
            loop="loop"
            playsinline
        >
            <source src="/bg.webm" type="video/webm;codecs=vp9"/>
            <source src="/bg.mp4" type="video/mp4;"/>
        </video>
    </div>
    <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
        <div class="uppercase text-sm mb-4">
            Welcome To
        </div>
        <div class="text-4xl font-mplus font-medium">
            An insight of my <span class="text-pink-200">life</span>
        </div>
    </div>
</section>